{% extends "admin_templates/base.html" %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-body"><br>
        <h4> Edit Track Status </h4>
    <form action="" class="row g-3" method="post"> {% csrf_token %}
        <div class="col-md-12" >
            <label for="track_no">Track Number</label>
         <input type="text" name="track_no" id="track_no" class="form-control" >
        </div>
        <div class="col-md-12" >
            <label for="weight">Weight</label>
         <input type="text" name="weight" id="weight" class="form-control">
        </div>
        <div class="col-md-12" >
            <label for="book_name">Book Name</label>
         <input type="text" name="book_name" id="book_name" class="form-control" readonly value="{{order.order.product.name}}">
        </div>
        <div class="col-md-12" >
            <label for="mobile">Mobile Number</label>
         <input type="text" name="mobile" id="mobile" class="form-control" value="{{order.customer_phone}}" >
        </div>     
         <br>
         <div class="text-center">
            <button type="submit" id="submit_update" class="btn btn-primary">Update</button>
        </div>
    </form>
    </div> 
</div>
{% endblock %}